/*Default Tag Styles*/
body {
    padding: 0px;
    margin: 0px;
    background-color: #F2F2F2;
}

h1 {
    font-family: 'Century Gothic';
    color: #FF9900;
    font-weight: bold;
}

p {
    margin: 0;
}

.Login {
    font-family: 'Century Gothic';
    font-size: 0.8em;
}

.CustomerIDFont {
font-family: 'Century Gothic';
font-size: 1.2em;
}  

/*Div Class Styles*/
.header {
    background-color: #333333;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
}


.navBar {
    background-color: #333333;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #FF9900;
    overflow: auto;
}

.content {
    width: 100%;
    padding: 10px;
    overflow: auto;
}

.contentContainer {
    width: 800px;
    background-color: #C0C0C0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer {
    background-color: #333333;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
}

/*Element Class Styles*/
.label {
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: small;
}

.button {
    font-family: 'Century Gothic';
    margin-top: 0px;
}

.calendar {
    width: 230px;
    height: 30px;
    margin: 2px;
}

.textbox {
    font-family: 'Century Gothic';
    width: 220px;
    margin: 2px;
}

.multilineTextbox {
    resize: none;
    width: 220px;
    margin: 2px;
    font-size: small;
}

.dropdown {
    font-family: 'Century Gothic';
    width: 226px;
    margin: 2px;
}

.login {
    font-family: 'Century Gothic';
}

.loginButton {
    background-color: #FFFFFF;
}

.loginLabel {
    font-size: medium;
}

.loginUser {
    /*float: right;*/
    float: right;
    font-family: 'Century Gothic';
    color: #FF9900;
    font-size: 1.25em;
    margin-right: 15px;
    margin-top: 5px;
}

.loginStatus {
    /*float: right;*/
    float: right;
    font-family: 'Century Gothic';
    font-size: 1.2em;
    color: #FF9900;
    text-decoration: none;
    font-weight: bold;
    margin-right: 5px;
    line-height: 1.35em;
}

.headerTitle {
    margin: 0px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 3em;
    width: 50%;
    float: left;
    /*float: left;*/
}

.copyright {
    font-family: 'Century Gothic';
    color: #FF9900;
    padding: 5px;
}

.navBarMenuDiv {
    float: left;
}

.navBarMenu ul li a {
    font-family: 'Century Gothic';
    font-size: 1.2em;
    color: #FF9900;
    /*width: 70px;*/
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 1.35em;
    display: block;
    white-space: nowrap;
    margin-left: 8px;
}

    .navBarMenu ul li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}